@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap');

.App {
  text-align: center;
}

:root {
  --gradient: linear-gradient( 135deg, #72EDF2 10%, #5151E5 100%);
}

* {
  box-sizing: border-box;
  line-height: 1.25em;
}

.clear {
  clear: both;
}

body {
  margin: 0 0 0 175px;
  padding:100px;
  width: 100%;
  height: 100vh;
  display: flex;
  background: url("https://wallpaperaccess.com/full/360436.jpg") no-repeat center;
  font-family: 'Montserrat', sans-serif;
  align-items: center;
  justify-content: center;
  object-fit: fill;
}

.container {
  border-radius: 25px;
  box-shadow: 0 0 70px -10px rgba(0, 0, 0, 0.2);
  background-color: #222831;
  color: #ffffff;
  height: 400px;
}

.info-side {
  position: relative;
  float: left;
  height: 100%;
  padding-top: 25px;
}

.weather {
  width:100%;
  height:175px;
  padding: 0;
  box-shadow: 0 0 50px -5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.weather .search-box {
  width: 100%;
  background:transparent;
  margin:15px;
  outline: 0;
  border-radius: 10px;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size:16px;
}

.weather .active {
  color: dodgerblue;
  display: flex;
  margin: 2px 20px;
  white-space: pre-line;
}

.weather .day-name {
  display: block;
  margin: 10px 0 0 0;
  text-align: center;
}

.weather .day-icon {
  display: block;
  height: 30px;
  width: auto;
  margin: 0 auto;
}

.weather .day-temp {
  display: block;
  text-align: center;
  margin: 10px 0 0 0;
  font-weight: 700;
}


.Search-button {
  outline: none;
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-radius: 25px;
  margin:10px 0 0 0;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  background-image: var(--gradient);
  color: #ffffff;
  box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: transform 200ms ease;
}

.Search-button:hover {
  transform: scale(0.95);
}

